body {
  background: url('http://cdn.history.com/sites/2/2015/04/hith-father-christmas-lights-iStock_000029514386Large.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1.3rem;

  margin: 0;
  padding: 0;
}

.drumkit-container {
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 5%;
}

.key {
  background: green;
  opacity: 0.7;
  text-align: center;
  border: 2px solid white;
  border-radius: 8px;
  padding: 1%;
  margin-right: 1%;
  flex: 1;
}
